{% load staticfiles %}

 <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static '/css/main.css' %}" rel="stylesheet">
 <link href="{% static '/css/heroic-features.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"
<html>
<head>
	<title>Hello, World!</title>
</head>
<body>
	<h1>{{message}}</h1>

	 <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
</div>

<div class="input-group input-group-sm">
  <span class="input-group-addon" id="sizing-addon3">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
</div>
</body>

{% block javascript %}
    <script src="{% static '/js/jquery.js' %}"></script>

    <script src="{%static '/js/jquery-ui.min.js' %}"></script>

    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <script src="{% static '/js/script.js' %}"></script>
{% endblock javascript %}
</html>